@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/*
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
*/

:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    /*(graphic design text)*/
    --Dark-blue: hsl(198, 62%, 26%);
    /*(photography text)*/
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    /*(footer)*/
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
}

header {
    background-image: url(../images/desktop/image-header.jpg);
    height: 100vh;
    background-position: center bottom;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 1.5rem;
}

nav h1 img {
    padding-top: 11px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu li {
    display: inline;
    padding-left: 15px;
    font-family: 'Barlow', sans-serif;
    color: var(--White);
}


.menu li button {
    color: black;
    background-color: white;
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 85px;
    font-family: 'Fraunces', serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}


.menu li button:hover {
    cursor: pointer;
    color: var(--White);
    background-color: hsl(0, 0%, 100%, 50%);
}

.header-principal {
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: white;
    margin-top: 40px;
}

.header-principal img {
    margin-top: 110px;
    animation: pop-in 2s ease infinite;
}

@keyframes pop-in {

    0%,
    50%,
    100% {
        transform: translateY(0);
    }

    12.5%,
    37.5% {
        transform: translateY(20px);
    }

    25% {
        transform: translateY(10px);
    }
}

.transform,
.stand-out {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.transform div,
.stand-out div {
    height: 100%;
}

.transform div img,
.stand-out div img {
    width: 100%;
    height: 100%;
}


.textual-part {
    padding: 10rem 5rem;
}

.textual-part h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
    font-size: 39px;
    width: 420px;
}

.textual-part p {
    color: var(--Grayish-blue);
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
}

.textual-part a {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.textual-part a::after {
    background-color: var(--Yellow);
    content: "";
    display: block;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    width: 120px;
    top: 14px;
    left: -2px;
    opacity: 0.2;
    transition: all 1000ms ease-in-out;
    z-index: -1;
}

.textual-part .learn-link::after {
    background-color: var(--Soft-red);
}

.textual-part a:hover::after {
    opacity: 0.8;
}

.graphic-photo {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.graphic-photo section {
    height: 500px;
    background-size: cover;
    position: relative;
}

.graphic-photo section:first-of-type {
    background-image: url(../images/desktop/image-graphic-design.jpg);
    color: var(--Dark-desaturated-cyan);
}

.graphic-photo section:last-of-type {
    background-image: url(../images/desktop/image-photography.jpg);
    color: var(--Dark-blue);
}

.graphic-photo section div {
    text-align: center;
    bottom: 70px;
    position: absolute;
    width: 100%;
}

.graphic-photo section div h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 23px;
    padding-bottom: 20px;
}

.graphic-photo section div p {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 350px;
    margin: 0 auto;
    line-height: 25px;
}

.testimonials {
    text-align: center;
    padding: 5.5rem 2rem;
}

.testimonials h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--Grayish-blue);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
}

.clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 4.5rem 2rem;
}

.clients div img {
    max-width: 70px;
    border-radius: 50%;
}

.clients div p {
    color: var(--Very-dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding-top: 2rem;
}

.clients div h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
    font-size: 20px;
    padding-top: 4rem;
}

.clients div h3 {
    color: var(--Dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding-top: 1rem;
}

.images-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.images-section img {
    width: 100%;
}

footer {
    background-color: hsl(168, 34%, 41%, 60%);
    text-align: center;
}

.final-section {
    width: 300px;
    margin: 0 auto;
    padding: 3rem 0;

}

.menu-footer {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1rem;

}

.menu-footer li a{
    color: var(--Dark-desaturated-cyan);
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.social-section{
    list-style: none;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding-top: 50px;
}

.social-section li a{
    color: var(--Dark-desaturated-cyan);
}

.menu-footer li a:hover, .social-section li a:hover{
    color: white;
}